.text-title {
    font-weight: bold;
    padding-top: 0.6%;
}

.textarea-description{
    margin-top: 1%;
    margin-bottom: 1%;
    max-width: 100%;
}

.box-description{
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}

.final-price{
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
}

.box-add-product {
    background-color: #ffff;
    border: 1px solid #ccc;
    border-radius: 12px;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 5%;
    display: block;
}