.request-client {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.request-client {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.add-request-client {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 1%;
    border-bottom: 1px solid #ccc;
}

.request-client select {
    min-width: 100px;
    padding: 2px 10px;
}

.request-client select {
    min-width: 350px;
    padding: 2px 10px;
}

.list-request-client {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1%;
    border-bottom: 1px solid #ccc;
}

.list-request-client button {
    position: absolute;
    right: 0;
    margin-right: 10px;
}