.orders {
	border-radius: 14px;
	background-color: #ffff;
  max-width: 60rem;
  width: 60%;
	margin-top: -3em;
  margin-left: auto;
	margin-right: auto;
}

.orders ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em;
}