.home {
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5em;
}

.home h1 {
	font-size: 2.5em;
	margin-bottom: 0.5em;
}

.home h1 span {
	color: #ff7200;
	padding: 0 0.2em;
}

.home p {
	margin-bottom: 1.5em;
	color: #7b7b7b;
}

.home img {
	width: 350px;
	margin: 2em 0;
}