.products {
	border-radius: 14px;
	background-color: #ffff;
  max-width: 60rem;
  width: 60%;
	margin-top: -3em;
  margin-left: auto;
	margin-right: auto;
}

.products ul{
	list-style: none;
  margin: 0;
  padding: 0;
}

.products h1 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em;
}
