.product_details {
	padding: 2em;
}

.product_details h1,
.product_details h2,
.product_details p {
	margin-bottom: 0.5em;
}

.product_details h1 {
	background-color: #222;
	color: #ffbb33;
	padding: 0.4em;
}

.product_details span {
	font-weight: bold;
}

.details_container,
.service_form_container {
	border-bottom: 1px solid #7a7a7a;
	padding-bottom: 1.2em;
	margin-bottom: 1.2em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.btn {
	background-color: #222;
	color: #fff;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: 0.5s;
	border: none;
	cursor: pointer;
	max-height: 40px;
}

.btn:hover {
	color: #ffbb33;
}

.form {
	width: 100%;
}